.col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.main {
  justify-content: space-around;
  max-width: 60%;
  min-height: fit-content;
}

.fill {
  width: 100%;
}

mat-error {
  background-color: white;
  width: fit-content;
  padding: 0 5px 0 0;
}
