<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport="true"
      [mode]="'over'"
      [opened]="false"
      [position]="'end'">
      <div class="lista-container">
        <app-lista-produtos></app-lista-produtos>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (sideMenuClick)="onClickSideMenu($event); drawer.toggle()" ></app-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
