mat-toolbar {
  position: absolute;
  top: 0;
  z-index: 100;
}

.mat-elevation-z8 {
  z-index: 100;
}

.space {
  padding: 0 5px;
}

.flex-space {
  display: flex;
  flex: 1 1;
  justify-content: center;
  /* padding-right: 166px; */
}

.mobile {
  padding-left: 40px;
}

.toolbar {
  padding-bottom: 20px;
  /* background-color: transparent; */
}
