.example-container {
    display: flex;
    flex-direction: column;
    margin: 0 calc(50% - 250px);
  }
  
  .example-container > * {
    width: 500px;
  }
  
  mat-card {
    height: 100%;
  }
  
  .info-principal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 520px;
    min-height: 515px;
    margin: 20px;
    padding: 20px;
    /* justify-content: space-around; */
    /* width: calc((100% - 120px)/3); */
    padding-bottom: 0px;
  }
  
  .info-produto {
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-basis: 25%;
    position: relative;
  }
  
  .card-container {
    padding: 20px;
  }
  
  .space {
    padding: 20px;
  }
  
  .two-inputs {
    display: flex;
    flex: 1 1 100%;
  }
  
  .one-input {
    flex: 1 1 50%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-height: 100%;
    align-items: stretch;
  }
  
  .col {
    flex: 1;
  }
  
  .field {
    width: calc(50% - 10px);
  }
  
  .margin {
    padding-left: 20px;
  }
  