.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 60%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

.col {
  flex: 1;
  align-content: space-evenly;
}

.field {
  width: calc(50% - 10px);
}
form {
  display: flex;
  justify-content: center;
}

.space {
  padding: 10px 0;
}

app-cartao-credito {
  height: 200px;
  display: flex;
}
