<div class="row" style="height: 100%; width: 100%;">
  <app-loading #loading></app-loading>
  <mat-card class="info-principal">
    <mat-card-header>
      <mat-card-actions style="width: 100%" [align]="'right'">
        <button style="float: right" mat-button><mat-icon>menu</mat-icon></button>
      </mat-card-actions>
    </mat-card-header>
    <perfect-scrollbar class="pagamento">
      <div class="row" *ngIf="!pagamentoSelecionado" style="display: flex; align-content: space-evenly; height: 100%; width: 100%;">
        <div style="display: flex; align-items: center; height: 100%;">
          <mat-card class="imagem" (click)="initCard()">
            <!-- <mat-card-header> <strong>Teste</strong> </mat-card-header> -->
            <div class="img"><img src="./assets/cartao.svg" height="200px" /></div>
          </mat-card>
        </div>
        <div style="display: flex; align-items: center;">
          <mat-card class="imagem"> <img src="./assets/boleto.svg" height="200px" (click)="pagamentoSelecionado = 'boleto'" /> </mat-card>
        </div>
      </div>
      <app-cartao-credito-form  *ngIf="pagamentoSelecionado && pagamentoSelecionado === 'cartao'" [cartaoCredito]="cartaoCredito"></app-cartao-credito-form>
      <div class="middle-col" *ngIf="pagamentoSelecionado" style="width: 100%;">
        <div class="row">
          <div class="buttons">
            <button [disabled]="!botaoEnabled" (click)="onEnviar($event)" mat-raised-button color="primary">Enviar</button>
            <button (click)="onCancelar($event)" mat-raised-button color="warn">Cancelar</button>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </mat-card>
  <mat-card class="info-produto">
    <perfect-scrollbar style="overflow-y: auto;">
      <div class="picture"><img src="./assets/full_logo.svg" /></div>
      <app-produto-checkout *ngFor="let item of produtos;" [produto]="item"></app-produto-checkout>
    </perfect-scrollbar>
    <hr />
    <div class="total">
      <p class="row">
        <span class="line">
          <span class="col left"><strong>Total:</strong></span> <span class="col right">{{ precoTotal | money }}</span>
        </span>
      </p>
    </div>
  </mat-card>
</div>
