.example-container {
  display: flex;
  flex-direction: column;
  margin: 0 calc(50% - 250px);
}

.example-container > * {
  width: 500px;
}

.total {
  padding-top: 10px;
}

.info-principal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: fit-content;
  max-width: 60%;
  height: calc(100% - 84px);
  min-height: 75%;
  padding: 20px;
  flex-shrink: 2;
  align-items: stretch;
  overflow: auto;
}

.picture {
  display: flex;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: space-evenly;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.line {
  width: 100%;
  display: flex;
}

.one-item {
  margin: 20px;
}

.info-produto {
  display: flex;
  padding: 20px;
  flex-basis: 25%;
  min-width: 300px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100% - 84px);
}

.imagem {
  min-height: 200px;
  cursor: pointer;
}

.card-container {
  padding: 20px;
}

.space {
  padding: 20px;
}

.two-inputs {
  display: flex;
  flex: 1 1 100%;
}

.one-input {
  flex: 1 1 50%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.buttons {
  padding: 20px;
}

.buttons > * {
  margin: 20px 20px;
}

.middle-col {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.col {
  flex: 1;
  min-height: fit-content;
}

.field {
  width: calc(50% - 10px);
}

.margin {
  padding-left: 20px;
}

.after {
  /* content: ""; */
  box-shadow: inset 0 -10px 50px -26px rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}
