<div style="height: 100%; width: 100%;" [ngClass]=" isMobile.small ? 'row-mobile' : 'row' ">
  <app-loading #loading></app-loading>
  <mat-card [ngClass]=" isMobile.small ? 'info-principal mobile' : 'info-principal'" >
    <mat-card-header>
      <mat-card-actions style="width: 100%" [align]="'left'">
        <div class="linha">
          <div class="coluna-botao">
            <button [ngStyle]="{ visibility: !pagamentoSelecionado ? 'hidden' : 'visible' }" (click)="onVoltar($event)" style="float: left" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
          </div>
          <div class="coluna-titulo">
            <strong>
              <h1 [ngStyle]="{'font-size.em': isMobile.small ? 1.3 : 2}">{{ titulo }}</h1>
            </strong>
          </div>
        </div>
      </mat-card-actions>
    </mat-card-header>
    <perfect-scrollbar class="pagamento">
      <div class="row selection" *ngIf="!pagamentoSelecionado" style="display: flex; align-content: space-evenly;width: 100%;">
        <div style="display: flex; align-items: center;">
          <mat-card class="imagem" (click)="initCard()">
            <div class="img"><img src="./assets/cartao.svg" [height]="isMobile.small ? 100 : 150" /></div>
          </mat-card>
        </div>
        <div style="display: flex; align-items: center;">
          <mat-card class="imagem" (click)="initBoleto()"> <img src="./assets/boleto.svg" [height]="isMobile.small ? 100 : 150" /> </mat-card>
        </div>
      </div>
      <app-cartao-credito-form *ngIf="pagamentoSelecionado && pagamentoSelecionado === 'cartao'" [cartaoCredito]="cartaoCredito"></app-cartao-credito-form>
      <app-boleto-form (keydown.enter)="onEnviar($event)" *ngIf="pagamentoSelecionado && pagamentoSelecionado === 'boleto'" [boleto]="boleto" (envio)="onEnviar($event)" > </app-boleto-form>
      <div class="middle-col" *ngIf="pagamentoSelecionado" style="width: 100%;">
        <div class="row">
          <div class="buttons">
            <button [disabled]="!botaoEnabled || !( pagamentoSelecionado === 'cartao' ? cartaoCredito.valid : boleto.valid )" (click)="onEnviar($event)" mat-raised-button color="primary">Enviar</button>
            <button (click)="onCancelar($event)" mat-raised-button color="warn">Cancelar</button>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </mat-card>
  <mat-card class="info-produto" *ngIf="!isMobile.small">
    <app-lista-produtos></app-lista-produtos>
  </mat-card>
</div>
