.example-container {
  display: flex;
  flex-direction: column;
  margin: 0 calc(50% - 250px);
}

.example-container > * {
  width: 500px;
}

.total {
  padding-top: 10px;
}

.info-principal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 520px;
  height: calc(100% - 64px);
  margin: 20px;
  padding: 20px;
  /* justify-content: space-around; */
  /* width: calc((100% - 120px)/3); */
  padding-bottom: 0px;
  align-items: stretch;
  overflow: auto;
}

.picture {
  display: flex;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: space-evenly;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.line {
  width: 100%;
  display: flex;
}

.one-item {
  margin: 20px;
}

.info-produto {
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-basis: 25%;
  min-width: 300px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100% - 84px);
}

.imagem {
  min-height: 200px;
  cursor: pointer;
}

.card-container {
  padding: 20px;
}

.space {
  padding: 20px;
}

.two-inputs {
  display: flex;
  flex: 1 1 100%;
}

.one-input {
  flex: 1 1 50%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
}

.buttons {
  padding: 20px;
}

.buttons > * {
  margin: 20px 20px;
}

.middle-col {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.col {
  flex: 1;
}

.field {
  width: calc(50% - 10px);
}

.margin {
  padding-left: 20px;
}
