.example-container {
  display: flex;
  flex-direction: column;
  margin: 0 calc(50% - 200px);
}

.example-container > * {
  width: 400px;
}

.total {
  padding-top: 10px;
}

.info-principal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: fit-content;
  max-width: 60%;
  height: calc(100% - 84px);
  min-height: 75%;
  padding: 20px;
  flex-shrink: 2;
  align-items: stretch;
  overflow: auto;
}

.mobile {
  min-width: unset;
  max-width: 80%;
}

.picture {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.title {
  display: flex;
  justify-content: space-evenly;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.one-item {
  margin: 20px;
}

.info-produto {
  display: flex;
  padding: 20px;
  flex-basis: 25%;
  min-width: 300px;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100% - 84px);
}

.imagem {
  min-height: fit-content;
  cursor: pointer;
}

.card-container {
  padding: 20px;
}

.space {
  padding: 20px;
}

.two-inputs {
  display: flex;
  flex: 1 1 100%;
}

.one-input {
  flex: 1 1 50%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.row-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.buttons {
  padding: 20px;
}

.item {
  flex-basis: 25%;
  font-size: 12px;
  display: flex;
}

.descricao {
  flex-basis: 40%;
  min-width: 40%;
}

.top-row {
  background: #2e7d32;
  color: white;
  padding: 5px 7px;
  margin: 0 5px;
  margin-top: 10px;
  font-weight: 400;
  border-radius: 3px;
}

.margin-5px {
  margin: 0 12px;
  margin-right: 12px;
}

.buttons > * {
  margin: 20px 20px;
}

.middle-col {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.col {
  min-height: fit-content;
}

.field {
  width: calc(50% - 10px);
}

.margin {
  padding-left: 20px;
}

.after {
  /* content: ""; */
  box-shadow: inset 0 -10px 50px -20px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 5px;
  right: 5px;
  top: 0px;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.coluna-botao {
  display: flex;
  width: 40px;
}

.coluna-titulo {
  width: 100%;
  padding-right: 72px;
  text-align: center;
}

.selection {
  flex-wrap: wrap;
  min-height: fit-content;
}

.flex-spacer {
  display: flex;
  /* flex: 1 0 10px; */
}
