<div class="row" style="height: 100%">
  <mat-card class="info-principal">
    <div class="example-container col" card container=".card-container" card-width="350" formatting="false" debug="true" [placeholders]="{ name: 'Nome Completo' }">
      <mat-form-field appearance="outline"> <mat-label>Número do Cartão</mat-label> <input matInput placeholder="Número do Cartão" card-number /> </mat-form-field>
      <mat-form-field appearance="outline"> <mat-label>Primeiro Nome</mat-label> <input matInput placeholder="Primeiro Nome" card-name /> </mat-form-field>
      <mat-form-field appearance="outline"> <mat-label>Sobrenome</mat-label> <input matInput placeholder="Sobrenome" card-name /> </mat-form-field>
      <div class="row">
        <div class="field">
          <mat-form-field appearance="outline"> <mat-label>Data de Vencimento</mat-label> <input matInput placeholder="Data de Vencimento" card-expiry /> </mat-form-field>
        </div>
        <div class="margin"></div>
        <div class="field">
          <mat-form-field appearance="outline"> <mat-label>Código de segurança</mat-label> <input matInput placeholder="Código de segurança" card-cvc /> </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-container"></div>
  </mat-card>
  <mat-card class="info-produto"></mat-card>
</div>
